In [ ]:
# Exercise 1: Identifying Data Types
# Below are various data sources. Identify whether each one is an example of structured or unstructured data.

# A companyâ€™s financial reports stored in an Excel file.
# Photographs uploaded to a social media platform.
# A collection of news articles on a website.
# Inventory data in a relational database.
# Recorded interviews from a market research study.

# A companyâ€™s financial reports stored in an Excel file
# â†’ Structured data (rows, columns, predefined format)

# Photographs uploaded to a social media platform
# â†’ Unstructured data (images with no fixed schema)

# A collection of news articles on a website
# â†’ Unstructured data (free-text content)

# Inventory data in a relational database
# â†’ Structured data (tables, fields, relationships)

# Recorded interviews from a market research study
# â†’ Unstructured data (audio files, non-tabular)

In [ ]:
# Exercise 2: Transformation Exercise
# For each of the following unstructured data sources, propose a method to convert it into structured data. Explain your reasoning.

# A series of blog posts about travel experiences.
# Audio recordings of customer service calls.
# Handwritten notes from a brainstorming session.
# A video tutorial on cooking.



# Blog posts about travel â†’ Text analysis (NLP) to extract destinations, dates, and topics into a table.

# Audio customer service calls â†’ Speech-to-text, then label issues and outcomes.

# Handwritten notes â†’ OCR to convert to text, then categorize ideas.

# Cooking video â†’ Speech-to-text (and vision) to extract ingredients and steps.

In [1]:
# Exercise 3 : Import a file from Kaggle
# Note: This dataset was originally sourced from Kaggle, but for easier access, it has been made available on GitHub.

# ðŸ‘‰ Please download the dataset directly from the GitHub repository to use it in this project.

# Import the train dataset. Use the train.csv file.
# Print the first few rows of the DataFrame.


import pandas as pd

df = pd.read_csv("train.csv")
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
# Exercise 4: Importing a CSV File
# Use the Iris Dataset CSV.

# Download the Iris dataset CSV file and place it in the same directory as your Jupyter Notebook.
# Import the CSV file using Pandas.
# Display the first five rows of the dataset.


import pandas as pd

df = pd.read_csv("Iris.csv")
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
# Exercise 5 : Export a dataframe to excel format and JSON format.
# Create a simple dataframe.
# Export the dataframe to an excel file.
# Export the dataframe to a JSON file.


import pandas as pd

# Create a simple dataframe
df = pd.DataFrame({
    "Name": ["Alice", "Bob"],
    "Age": [25, 30],
    "City": ["Paris", "London"]
})

# Export to Excel
df.to_excel("data.xlsx", index=False)

# Export to JSON
df.to_json("data.json", orient="records")

In [6]:
# Exercise 6: Reading JSON Data
# Use a sample JSON dataset

# Import the JSON data from the provided URL.
# Use Pandas to read the JSON data.
# Display the first five entries of the data.


import pandas as pd


df = pd.read_json('posts.json')

# Display first five rows
df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...